.menu {
  background: #333;
  border-bottom: 2px solid #000;
  display: flex;
  justify-content: flex-start;

  a {
    color: #fff;
    font-family: sans-serif;
    padding: 1rem 1.5rem;
    text-decoration: none;

    &.selected {
      background: #444;
    }
  }
}
